* {
    font-family: "Ubuntu", "Montserrat", sans-serif;
    color: #093;
}

header {
    display: grid;
    grid-template: 5em, 1fr;
    justify-items: center;
    margin-bottom: 1.5em;
    border: 2px solid #093;
    border-left: 0;
    border-right: 0;
}

main {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
    grid-gap: 1em;
    margin-bottom: 1em;
}

main h2 {
    font-size: 3em;
}

table ul{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    display: block;
    height: 40vh;
    width: 45vw;
}

.info {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table td:hover > ul{
    display: block;
}

table td:hover > h2 {
    display: none;
}